<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DEMOSBOEV.Properties.Settings.SBOEVBDConnectionString"
            connectionString="Data Source=192.168.0.136;Initial Catalog=SBOEVBD;User ID=sboev"
            providerName="System.Data.SqlClient" />
        <add name="DEMOSBOEV.Properties.Settings.SBOEVNIKITAConnectionString"
            connectionString="Data Source=192.168.0.136;Initial Catalog=SBOEVNIKITA;User ID=sboev"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>